.headerContainer {
  height: 4.5rem;
  background-color: var(--clr-pure-white);
  position: fixed;
  width: 100%;
  color: var(--clr-pure-black);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.5rem;
}


@media only screen and (min-width: 768px) {
  .navMenuToggle{
    display: none;
  }
}

