.headerContainer {
  height: 4.5rem;
  background-color: var(--clr-pure-white);
  position: fixed;
  width: 100%;
  color: var(--clr-pure-black);
  z-index: 1;
  padding-inline: 2.5rem;
  align-content: center;
}

.navContainer{
  max-width: 1108px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
}

.navMenuToggle{
  display: none;
}

@media only screen and (min-width: 768px) {
  .navMenuToggle{
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
}

