@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root{
    /*Colors*/
    --clr-main-accent: linear-gradient(#FFC593, #BC7198, #5A77FF);
    --clr-pure-black: #000000;
    --clr-light-grey: #DFDFDF;
    --clr-pure-white: #FFFFFF;

    /*Font-sizes*/
    --fs-h1: 2.5rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.125rem;
    --fs-h4: 1rem;
    --fs-body: 1rem;

    /*Font Weights*/
    --fw-bold: 700;
    --fw-regular: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/*
    TODO:
    Don't like working with white background while I build html :) 
    I'll delete it later. 
*/
/*****************************/
body{
    background-color: #2b2b2b;
    color: white;
}
/*****************************/

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
  font-family: "DM Sans", sans-serif;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

h1, h2,
h3, h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

:target {
  scroll-margin-block: 5ex;
}