import styles from './{{componentName}}.module.css';

interface {{componentName}}Props {
  // Define your props here
}

export function {{componentName}}(){
  return (
    <div className={styles.container}>
      {/* Component content here */}
    </div>
  );
}