.nav {
  position: absolute;
  top: 4.5rem;
  left: 0;
  height: 15.75rem;
  width: 100%;
  background-color: white;
  padding: 2rem;
}

.navLinkList{
  width: 100%;
}

.navLinkList > li{
  text-transform: uppercase;
  text-align: center;
  margin-inline: auto;
  letter-spacing: 2.5px;
  margin-bottom: 1rem;
  font-weight: bold;
}

.navLinkList > li:last-child{
  border-bottom: 1px solid var(--clr-pure-black);
  padding-bottom: 1.25rem;
}

.navLinkActive{
  border-bottom: 1px solid var(--clr-pure-black);
}

@media only screen and (min-width: 768px) {

  .nav {
    position: absolute;
    top: 4.5rem;
    left: 0;
    height: 15.75rem;
    width: 100%;
    background-color: white;
    padding: 2rem;
  }
  .nav {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
  }
  
  .navLinkList{
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 16.875rem;
      font-size: var(--fs-h4);
  }

  .navLinkList > li{
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
    transition: opacity var(--animation-speed) ease-in-out;
  }

  .navLinkList > li:last-child{
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .navLinkList > li:hover{
    opacity: 30%;
  }
}
